.wrapper {
  min-height: calc(100vh - 15px);
  margin: 15px auto 0;
}
.darkBackground {
  background: #021c1e !important;
  color: #fff !important;
}
.darkModal {
  background: rgb(97, 96, 96) !important;
  color: #fff !important;
}
.darkTitle {
  background: #2c7873 !important;
}
.darkTask {
  color: #fff !important;
  border: 1px solid rgb(153, 153, 153) !important;
}
.darkForm {
  border: 1px solid #2c7873 !important;
}
.darkComplete {
  background: #4c44cf;
}
.darkEdit {
  background: #1e8cb0;
}
.darkDlt {
  background: #e953da;
}
